 <header>
    <h1>Sistema de Gestão</h1>
    <hr>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cliente">Cliente</a></li>
            <li>Produto</li>
            <li>Compras</li>
            <li>Vendas</li>
            <li>Relatório de Compras</li>
            <li>Relatório de Vendas</li>
            <li>Configuracões</li>
        </ul>
    </nav>
</header>