<%- include('../includes/head.ejs') %>
<body>
    <main class="d-flex flex-nowrap">
        

        <table class="table table-hover" >
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Guilherme Tavares</td>
            <td>(18) 99999 - 9999</td>
            <td>@mdo</td>
            </tr>
            <tr>
        </tbody>
        </table>
    </main>
    <%- include('../includes/bootstrap-css.ejs') %>
</body>
</html>