<%- include('../includes/head.ejs') %>
<body>
    <header>
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
    </main>
    <%- include('../includes/bootstrap-css.ejs') %>
</body>
</html>