<%- include('../includes/head.ejs') %>
<%- include('../includes/bootstrap-css.ejs') %>

<form class="row g-3">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <label for="inputPassword5" class="form-label">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Entrar</button>
    </div>
    <div class="col-auto">
        <a href="/signup" class="btn btn-primary mb-3">Cadastrar</a>
    </div>

</form>
